<section class="section">
  <div class="container">
    <div class="levels">
      <div class="level-left">
        <div class="level-item">
          <h3 class="title is-3" style="margin-bottom:0.5rem">
            Documentation
          </h3>
        </div>
        <div class="level-item">
          <p class="image">
            <img src="undraw_data.png" style="height:10rem; width:auto">
          </p>
        </div>
      </div>
    </div>
    <p>
      Create your own projects with the help of Penn!
    </p>
    <br></br>
    <table class="table">
      <thead>
        <tr>
          <th>API</th>
          <th>Docs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Penn Course Review API</td>
          <td><a href="/">Docs</a></td>
        </tr>
        <tr>
          <td>Penn OpenData Python SDK</td>
          <td><a href="https://github.com/pennlabs/penn-sdk-python">Docs and Source</a></td>
        </tr>
        <tr>
          <td>Penn OpenData Node SDK</td>
          <td><a href="https://github.com/pennlabs/penn-sdk-node">Docs and Source</a></td>
        </tr>
        <tr>
          <td>Penn OpenData Ruby SDK (alpha)</td>
          <td><a href="https://github.com/pennlabs/penn-sdk-ruby">Docs and Source</a></td>
        </tr>
        <tr>
          <td>Penn OpenData APIs</td>
          <td><a href="https://esb.isc-seo.upenn.edu/8091/documentation#directory">Docs</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
