<html>
<head>
	<style>
		.section {
			overflow: hidden;
		}
	</style>
</head>
<body>
<section class="section">
	<div class="container" style="margin: auto">
		<figure class="image" style="width:15%; height: auto">
		  <img src="404-beaker.png">
		</figure>
		<br><br>
		<h3 class="title is-3 is-marginless is-paddingless">Oops... page not found.</h3>
		<p>Go back to <a href="/">home</a> or <a href="/contact">contact us</a> about the problem.</p>
	</div>
</section>
</body>
</html>