<html>
<head>
	<style>
		.section {
			overflow: hidden;
		}
	</style>
</head>
<body>
<section class="section" style="height: 100%">
<div class="container" style="padding-top: 4rem">
	<nav class="level">
		<div class="level-item">
			<figure class="image" style="width:15%; height: auto">
			  <img src="404-beaker.png">
			</figure>
			<div style="margin-left: 2rem">
			<h3 class="title is-3" style="padding-bottom: 0.5rem">Oops... page not found :(</h3>
			<p>Go back to <a href="/">home</a> or <a href="/contact">contact us</a> about the problem.</p>
			</div>
		</div>
	</nav>
</div>
</section>
</body>
</html>