<section>
  <div class="container">
    <div class="columns">
      <div class="column"> </div>
      <div class="column">
        <div class="levels">
          <div class="level-left">
            <div class="level-item">
              <h3 class="title is-3" style="margin-bottom:0.5rem">
                Labs Guides
              </h3>
            </div>
            <div class="level-item">
              <p class="image">
                <img src="/img/undraw_data.png" style="height:10rem; width:auto">
              </p>
            </div>
          </div>
        </div>
        <p>We're dedicated to giving back to the community - here are some guides and tutorials we've written to help everybody build products like ours.</p>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th>Guide</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Public API Documentation </td>
              <td><a href="/api">Penn Labs</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column"> </div>
    </div>
  </div>
</section>