<section class="section">
  <div class="container">
    <h3 class="title is-3" style="margin-bottom:0.5rem">Products</h3>
    <p>These are all our projects ever!</p>
    <br>
    <div class="tabs">
      <ul>
        <li class="is-active"><a>Current Products</a></li>
        <li><a href="/product-api">APIs</a></li>
        <li><a href="/legacy">Legacy</a></li>
      </ul>
    </div>
    <br>
    <div class="columns">
      <div class="column">
        <a href="https://penncoursereview.com/">
          <div class="box">
            <div class="card-content">
              <div class="level" style="margin-bottom:0.5rem">
                <div class="level-left">
                  <div class="level-item">
                    <p class="image is-48x48">
                        <img src="PCR.png">
                    </p>
                  </div>
                  <div class="level-item">
                    <h1 style="font-weight:500; font-size:1.8rem">Penn Course Review</h1>
                  </div>
                </div>
              </div>
              <p>
                Penn Course Review allows Penn students to make informed decisions on their course decisions. PCR includes professor rankings, course difficulties, commentary, and more on all courses taught at Penn in the past decade.
              </p>
            </div>
          </div>
        </a>
        <a href="http://pennbasics.com/">
        <div class="box">
          <div class="card-content">
            <div class="level" style="margin-bottom:0.5rem">
              <div class="level-left">
                <div class="level-item">
                  <p class="image is-48x48">
                      <img src="PennBasics.png">
                  </p>
                </div>
                <div class="level-item">
                  <h1 style="font-weight:500; font-size:1.8rem">PennBasics</h1>
                </div>
              </div>
            </div>
            <p>
              PennBasics is a one-stop shop for the basics of living at Penn. It strives to make students' lives easier at Penn so they can focus on what matters. PennBasics aggregates essential data on dining, laundry, and study spaces, and tailors the dashboard to your preferences.
            </p>
          </div>
        </div> 
        </a>
        <a href="https://penncfa.com/accounts/login/?next=/">
          <div class="box">
            <div class="card-content">
              <div class="level" style="margin-bottom:0.5rem">
                <div class="level-left">
                  <div class="level-item">
                    <p class="image is-48x48">
                        <img src="CFA-logo.png">
                    </p>
                  </div>
                  <div class="level-item">
                    <h1 style="font-weight:500; font-size:1.8rem">Common Funding Application</h1>
                  </div>
                </div>
              </div>
              <p>                
                The Common Funding Application allows student groups across the University to easily request funding for their events from one or more funding sources on campus. On the other side of the process, funding groups have the ability to view what groups have applied for funding from them and make approval/denials.
              </p>
            </div>
          </div>   
        </a>          
      </div>
      <div class="column">
        <a href="https://penncoursealert.com/">
          <div class="box">
            <div class="card-content">
            <div class="level" style="margin-bottom:0.5rem">
              <div class="level-left">
                <div class="level-item">
                  <p class="image is-48x48">
                      <img src="PCA.png">
                  </p>
                </div>
                <div class="level-item">
                  <h1 style="font-weight:500; font-size:1.8rem">Penn Course Alert</h1>
                </div>
              </div>
            </div>
            <p>
              Penn Course Alert was built to help students get into their desired courses and eliminate the stress behind guessing when it would open. PCA provides high quality, immediate notification via text and email for course availabilities.
            </p>
            </div>
          </div>
        </a>
        <div class="box">
          <div class="card-content">
            <div class="level" style="margin-bottom:0.5rem">
              <div class="level-left">
                <div class="level-item">
                  <p class="image is-48x48">
                      <img src="PennMobile.png">
                  </p>
                </div>
                <div class="level-item">
                  <h1 style="font-weight:500; font-size:1.8rem">PennMobile</h1>
                </div>
              </div>
            </div>
            <p>
              Penn Mobile App is the university's first official mobile app. On <a href="https://itunes.apple.com/us/app/pennmobile/id944829399?mt=8">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.pennapps.labs.pennmobile&hl=en">Android</a>, PennMobile provides live dining hall menus and hours, course and faculty search, live bus routes, popular sources of campus-news and school support numbers.
            </p>
          </div>
        </div> 
        <div class="box">
          <div class="card-content">
            <div class="level" style="margin-bottom:0.5rem">
              <div class="level-left">
                <div class="level-item">
                  <p class="image is-48x48">
                      <img src="OHQ-logo.png">
                  </p>
                </div>
                <div class="level-item">
                  <h1 style="font-weight:500; font-size:1.8rem">Office Hours Queue</h1>
                </div>
              </div>
            </div>
            <p>
              Coming soon, Office Hours Queue will make office hours easier for both students and teaching assistants. Students: get the one-on-one help that you need, as quickly as possible. TAs: manage your queue, locate students faster, and offer more targeted help.
            </p>
          </div>
        </div> 
      </div>
    </div>
    </div>
</section>