<section class="section">
  <div class="container">
    <h3 class="title is-3" style="margin-bottom:0.5rem">Meet the Team</h3>
    <p> The brilliant minds behind the products that tens of thousands
      of students use. Also check out our <a href="/alumni">Alumni</a>!</p>
    <br>
    <div class="columns">
    {{#each members}}
      <div class="column">
        <a href="/team/{{this.username}}">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/members/{{this.username}}.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <h1 style="font-weight:500; font-size:1.5rem">{{this.name}}</h1>
              <h4 style="padding-bottom:0.8rem">{{this.major}}</h4>
            </div>
          </div>
        </a>
      </div>
    {{/each}}
    </div>
  </div>
</section>