<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apply to Labs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">

  <style>
    .field {
      padding-bottom:2rem;
    }
  </style>
  </head>

  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="./index.html">
          <img src="./img/logo.png" alt="Bulma: a modern CSS framework based on Flexbox" height="28">
        </a>

        <button class="button navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </button>

        <div class="navbar-menu">
          <div class="navbar-start"></div>
          <div class="navbar-end">
            <a class="navbar-item" href="./team.html">Team</a>
            <a class="navbar-item" href="./products.html">Products</a>
            <a class="navbar-item" href="./docs.html">Docs</a>
            <a class="navbar-item" href="./contact.html">Contact</a>
          </div>
        </div>
      </div>
    </nav>

     <section class="section">
      <div class="container">
        <div class="columns">
          <!--left column: application details-->
          <div class="column is-6">
            <div class="levels">
              <div class="level-left">
                <div class="level-item">
                  <h3 class="title is-3" style="margin-bottom:0.5rem">Penn Labs Application<br> <p class="subtitle is-5">Spring 2018</p></h3>
                </div>
                <div class="level-item">
                  <p class="image">
                    <img src="./img/undraw_welcome.png" style="height:8rem; width:auto">
                  </p>
                </div>
              </div>
            </div>
            <p>⚠️ DUE: 1/20/18 at 11:59pm ⚠️
            <br>
            We are seeking specific roles this spring - details are below. This application includes all roles: 
            <br><br>
            ⭐️ Design: Designers are our creative visionaries that craft the product's features and functions, empathizing with the end-user's needs. They are responsible for our creating UI/UX mockups and prototypes for web and mobile products, adhering to our design language and continuously improving it.
            <br><br>
            ⭐️ Videography: The videographer will join our business development team and work towards building the Penn Labs brand by creating engaging and informational content for our users and greater Penn community. We are looking for someone who is passionate about improving Penn with technology and is a self-starter.
            <br><br>
            ⭐️  iOS Development: iOS developers will join the PennMobile team and will be working on a variety of new features and potentially starting new projects.
            <br><br>
            ⭐️ Web Development: Frontend and backend developers will get the opportunity to work on various products each semester at Labs. Team placement will occur after joining but there are opportunities on each team. We believe in constantly learning and improving which means you will get the chance to rotate within the semester. 
            <br><br>
            If you have any further questions, please email contact@pennlabs.org.
            </p>
          </div>

          <!--right column: application part 2-->
          <div class="column is-6">
            <div class="container is-fluid">
          <h5 class="title is-5" style="margin-bottom:0.5rem">(Optional) Show off your links!</h5>
          <br>
          <!--part 3, external links to show off-->
          <div class="field">
            <label class="label">Github</label>
            <div class="control">
              <input class="input" type="text" placeholder="Link">
            </div>
          </div>

          <div class="field">
            <label class="label">Portfolio</label>
            <div class="control">
              <input class="input" type="text" placeholder="Link">
            </div>
          </div>

          <div class="field">
            <label class="label">Personal site</label>
            <div class="control">
              <input class="input" type="text" placeholder="Link">
            </div>
          </div>

          <a class="button is-rounded" href="apply-2.html">Back</a>
          <a class="button is-info is-rounded is-pulled-right">Submit</a>
          <br><br>

          <progress class="progress is-primary" value="3" max="4">75%</progress>
        </div>     
          </div>     
        </div>
      </div>
    </section>

    <footer class="footer" style="padding-bottom:3rem">
      <div class="container">
        <div class="content has-text-centered">
          <p style="font-size:0.85rem">Made with <span class="icon is-small" style="color:#F56F71"><i class="fa fa-heart"></i></span> by Penn Labs</p> 
        </div>
      </div>
    </footer>
  </body>
</html>
