<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Documentation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">

  <style>
  </style>
  </head>

  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="./index.html">
          <img src="/img/logo.png" alt="Bulma: a modern CSS framework based on Flexbox" height="28">
        </a>

        <button class="button navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </button>

        <div class="navbar-menu">
          <div class="navbar-start"></div>
          <div class="navbar-end">
            <a class="navbar-item" href="./team.html">Team</a>
            <a class="navbar-item" href="./products.html">Products</a>
            <a class="navbar-item is-active" href="#">Docs</a>
            <a class="navbar-item" href="#">Contact</a>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <div class="levels">
          <div class="level-left">
            <div class="level-item">
              <h3 class="title is-3" style="margin-bottom:0.5rem">Documentation</h3>
            </div>
            <div class="level-item">
              <p class="image">
                <img src="/img/undraw_data.png" style="height:10rem; width:auto">
              </p>
            </div>
          </div>
        </div>
        <p>Something something documentation</p>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th>API</th>
              <th>Docs</th>
          </thead>
          <tbody>
            <tr>
              <td>Penn Course Review API</td>
              <td><a href="pcr.html">Docs</a></td>
            </tr>
            <tr>
              <td>Penn OpenData Python SDK</td>
              <td><a href="https://github.com/pennlabs/penn-sdk-python">Docs and Source</a></td>
            </tr>
            <tr>
              <td>Penn OpenData Node SDK</td>
              <td><a href="https://github.com/pennlabs/penn-sdk-node">Docs and Source</a></td>
            </tr>
            <tr>
              <td>Penn OpenData Ruby SDK (alpha)</td>
              <td><a href="https://github.com/pennlabs/penn-sdk-ruby">Docs and Source</a></td>
            </tr>
            <tr>
              <td>Penn OpenData APIs</td>
              <td><a href="https://esb.isc-seo.upenn.edu/8091/documentation#directory">Docs</a></td>
          </tbody>
        </table>
      </div>
    </section>
    <footer class="footer" style="padding-bottom:3rem">
      <div class="container">
        <div class="content has-text-centered">
          <p style="font-size:0.85rem">Made with <span class="icon is-small" style="color:#F56F71"><i class="fa fa-heart"></i></span> by Penn Labs</p> 
        </div>
      </div>
    </footer>
  </body>
</html>
