<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">

  <style>
    .card {
      margin-bottom: 1.5rem;
    }
  </style>
  </head>

  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="./index.html">
          <img src="/img/logo.png" alt="Bulma: a modern CSS framework based on Flexbox" height="28">
        </a>

        <button class="button navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </button>

        <div class="navbar-menu">
          <div class="navbar-start"></div>
          <div class="navbar-end">
            <a class="navbar-item" href="./team.html">Team</a>
            <a class="navbar-item is-active" href="./products.html">Products</a>
            <a class="navbar-item" href="./docs.html">Docs</a>
            <a class="navbar-item" href="#">Contact</a>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <h3 class="title is-3" style="margin-bottom:0.5rem">Products</h3>
        <p>These are all our projects ever!</p>
        <br>
        <div class="tabs">
          <ul>
            <li><a href="./products.html">Current Products</a></li>
            <li class="is-active"><a>APIs</a></li>
            <li><a href="./products-legacy.html">Legacy</a></li>
          </ul>
        </div>
        <h4 class="title is-4" style="margin-bottom:0.5rem">APIs</h4>
        <p>Click on each card to request access to our APIs.</p>
        <br>
        <div class="columns">
          <div class="column">
            <div class="card">
              <div class="card-content">
                <h1 style="font-weight:500; font-size:1.8rem; padding-bottom:0.5rem">Penn Course Review API</h1>
                <p>
                  Penn Course Review API was the first API we released for developers at Penn. Over the course of the last few years, the API has allowed students to create awesome apps with information including reviews for courses, instructors and departments. Documentation <a href="#">here</a>.
                </p>
              </div>
            </div>            
          </div>
          <div class="column">
              <div class="card">
                <div class="card-content">
                  <h1 style="font-weight:500; font-size:1.8rem; padding-bottom:0.5rem">Penn Registrar API</h1>
                  <p>
                    While Penn already had an API for its registrar, Labs worked with the administration to open up the API for developer use. With an easy to use python wrapper, the API allows developers to access up-to-date registrar information, including course schedules, registration status and locations. Documentation <a href="#">here</a>.
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer" style="padding-bottom:3rem">
      <div class="container">
        <div class="content has-text-centered">
          <p style="font-size:0.85rem">Made with <span class="icon is-small" style="color:#F56F71"><i class="fa fa-heart"></i></span> by Penn Labs</p> 
        </div>
      </div>
    </footer>
  </body>

</html>
