// Run:
// $ node-sass public/styles/docs.scss public/styles/docs.css
// From the root directory to compile this to css

$green: #76bf96;
$red: #df5d56;
$blue-gray: #f2f4f8;

.docs-wrapper {
  display: flex;

  .marg-bot {
    margin-bottom: 1.5rem;
  }

  .sidebar {
    width: auto;
    padding: 1rem;
    box-shadow: 0.1rem 0rem 0.3rem rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 52px);
    min-width: 20vw;

    section {
      padding: 0.5rem 0rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      h4 {
        margin-bottom: 0.2rem;
      }

      .route {
        font-family: "Lucida Console", Monaco, monospace;
        padding: 0.4rem;
        margin: 0rem -0.4rem;
        border-radius: 0.2rem;
        cursor: hand;
        cursor: pointer;

        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }

        &:focus,
        &:active {
          background: rgba(0, 0, 0, 0.05);
        }

        span {
          border-radius: 0.2rem;
          padding: 0.2rem 0.4rem;
          color: white;
          background: rgba(0, 0, 0, 0.05);

          &.get {
            background: $green;
          }

          &.post {
            background: $red;
          }
        }

        p {
          padding-bottom: 0.2rem;
          padding-top: 0.2rem;
          display: inline-block;
          margin-bottom: 0rem;
        }
      }
    }
  }

  .docs {
    flex: 1;
    padding: 1rem 5%;
    min-height: calc(100vh - 52px);
  }

  .gray {
    padding: 2rem;
    border-radius: 0.4rem;
    background: $blue-gray;

    .label {
      font-weight: normal;
    }

    .input {
      box-shadow: none;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .is-light {
      background: rgba(0, 0, 0, 0.075);

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
