.docs-wrapper {
  display: flex; }
  .docs-wrapper .marg-bot {
    margin-bottom: 1.5rem; }
  .docs-wrapper .sidebar {
    width: auto;
    padding: 1rem;
    box-shadow: 0.1rem 0rem 0.3rem rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 52px);
    min-width: 20vw; }
    .docs-wrapper .sidebar .sidebar-section {
      padding: 0.5rem 0rem; }
      .docs-wrapper .sidebar .sidebar-section + .sidebar-section {
        border-top: 1px solid rgba(0, 0, 0, 0.1); }
      .docs-wrapper .sidebar .sidebar-section .toggle {
        cursor: hand;
        cursor: pointer;
        transform: translateY(-2rem) translateX(-0.2rem) rotate(-45deg);
        width: 1rem;
        height: 1rem;
        border-left: 2px solid #209cee;
        border-bottom: 2px solid #209cee;
        float: right;
        transition: all 0.2s ease; }
        .docs-wrapper .sidebar .sidebar-section .toggle.hidden {
          transform: translateY(-1.6rem) translateX(-0.2rem) rotate(135deg); }
      .docs-wrapper .sidebar .sidebar-section h4 {
        margin-bottom: 0.2rem; }
      .docs-wrapper .sidebar .sidebar-section .routes {
        max-height: 100vh;
        transform: translateY(-1rem);
        margin: 0 !important;
        width: 100%;
        transition: all 0.2s ease;
        overflow: hidden !important; }
        .docs-wrapper .sidebar .sidebar-section .routes.hidden {
          max-height: 0rem; }
      .docs-wrapper .sidebar .sidebar-section .route {
        font-family: "Lucida Console", Monaco, monospace;
        padding: 0.4rem;
        border-radius: 0.2rem;
        cursor: hand;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: auto;
        display: block; }
        .docs-wrapper .sidebar .sidebar-section .route:hover {
          background: rgba(0, 0, 0, 0.04); }
        .docs-wrapper .sidebar .sidebar-section .route:focus, .docs-wrapper .sidebar .sidebar-section .route:active, .docs-wrapper .sidebar .sidebar-section .route.active {
          background: rgba(0, 0, 0, 0.06); }
        .docs-wrapper .sidebar .sidebar-section .route span {
          border-radius: 0.2rem;
          padding: 0.2rem 0.4rem;
          color: white;
          background: rgba(0, 0, 0, 0.05); }
          .docs-wrapper .sidebar .sidebar-section .route span.get {
            background: #76bf96; }
          .docs-wrapper .sidebar .sidebar-section .route span.post {
            background: #df5d56; }
        .docs-wrapper .sidebar .sidebar-section .route p {
          padding-bottom: 0.2rem;
          padding-top: 0.2rem;
          display: inline-block;
          margin-bottom: 0rem; }
  .docs-wrapper .docs {
    flex: 1;
    padding: 1rem 5%;
    min-height: calc(100vh - 52px); }
  .docs-wrapper .gray {
    padding: 2rem;
    border-radius: 0.4rem;
    background: #f2f4f8; }
    .docs-wrapper .gray .label {
      font-weight: normal; }
    .docs-wrapper .gray .input {
      box-shadow: none;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
    .docs-wrapper .gray .select {
      width: 100%; }
      .docs-wrapper .gray .select select {
        width: 100%; }
    .docs-wrapper .gray .is-light {
      background: rgba(0, 0, 0, 0.075); }
      .docs-wrapper .gray .is-light:hover {
        background: rgba(0, 0, 0, 0.1); }
