/**
 * Styling for the footer
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 2rem;
  height: 8rem;
  background: #f2f4f8;
  background-color: #f2f4f8;
}

.footer a {
  display: inline-block;
}
